@{
    ViewBag.Title = "HƯỚNG DẪN MUA ACC";
}
<body>
    <div class="container custom-container">
        <div class="row">
            <h2>HƯỚNG DẪN MUA ACC</h2>
            <div class="col-md-12">
                <ul>
                    <li> Bước 1: Tạo Tài Khoản Web và Đăng Nhập Vào Web</li>
                    <li>
                        Bước 2: Nạp Tiền Vào Tài Khoản<br />- Nạp ATM/MOMO <br />
                        - Nội Dung Chuyển Khoản Theo Gợi Ý Trên Shop Hiển Thị<br />- Nạp Card Tự Động 3 Nhà Mạng : 100k CARD = 80k Tiền SHOP
                    </li>
                    <li> Bước 3: Lựa Chọn Acc Cần Mua Và Ấn Vào Mua Ngay</li>
                    <li> Bước 4: Nếu Acc Có Mail Liên Hệ ADMIN Để Đổi Mail Qua</li>
                   
                </ul>
            </div>
        </div>
    </div>
</body>
<style>
    .custom-container {
        background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
        padding: 30px; /* Để tránh việc nội dung bị ẩn bởi background */
        margin-top: 15px; /* Khoảng cách giữa container và phần trên */
    }

    h2 {
        color: #ffc107; /* Màu chữ vàng */
        text-align: center; /* Canh giữa */
    }

    ul {
        list-style-type: none; /* Loại bỏ dấu chấm đầu dòng */
        padding: 0;
    }

    li {
        color: #ffffff; /* Màu chữ trắng */
    }
</style>
