@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/SytleIndex.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <h1>LIÊN MINH HUYỀN THOẠI</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 1" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <a href="@Url.Action("Acc", "Acc")" class="btn btn-danger btn-thumbnail">Xem tất cả</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 2" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 3" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 4" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 1" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 2" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 3" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 custom-margin">
                <div class="thumbnail">
                    <img src="~/images/acclienminhtuchon.png" alt="Image 4" width="100%" />
                    <div class="caption">
                        <h4>Acc Liên Minh Tự Chọn</h4>
                        <p>Số Tài Khoản:</p>
                        <button class="btn btn-danger btn-thumbnail">Xem tất cả</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>